.index{
    background-image: url(assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

*{
  font-family: Anaheim;
}

body{
  font-family: Anaheim;
}


.nav-logo{
    padding-left: 25px;
    width: 50px;
}

.nav-logo img{
    width: 150px;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.navbar{
    display: flex;
}

.nav-item{
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-left: 55px;
}

.nav-item a{
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: x-large;
    font-family: 'Anaheim';
    transition: 2s;
}

.nav-item a:hover{
    color: #7800da;
    text-decoration: underline;
}

.button{
    padding-top: 15px;
    padding-right: 35px;
}

.button button a{
    color: white;
    text-decoration: none;
}

.button button{
    font-size: large;
    color: white;
    background-color: rgb(0, 89, 190);
    border-color: rgb(0, 89, 190);
    padding: 7px;
    font-family: 'Anaheim';
    transition: 2s;
}

.button button:hover{
    cursor: pointer;
    background-color: rgb(0, 141, 24);
    border-color: rgb(0, 141, 24);
}

.cfooter{
  display:flex;
  justify-content: space-between;
  margin-top: 50px;
}

.cfleft{
    position: relative;
    bottom: 0;
    left: 0;
    color: white;
    padding-bottom: 15px;
    padding-left: 15px;
}

.left{
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  padding-bottom: 15px;
  padding-left: 15px;
}

.cfright{
    position: relative;
    bottom: 0;
    right: 0;
    color: white;
    padding-bottom: 15px;
    padding-right: 15px;
}
.right{
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  padding-bottom: 15px;
  padding-right: 15px;
}

.right a{
    color: white;
}

.left a{
    color: white;
}

.content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    color: rgb(207, 207, 207);
}

.content h1{
    font-family: 'Bungee Inline';
}

.content h2{
    font-family: 'Cherry Swash';
}

.center{
    position:absolute;
    bottom:0px;
    right:40%;
    left:47%;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 10px;
}

.center button{
    font-family: 'Anaheim';
    font-size: medium;
    color: white;
    background-color: rgb(247, 0, 255);
    border-color: rgb(247, 0, 255);
    border-radius: 60px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    transition: 2s;
}

.center button:hover{
    padding-left: 30px;
    padding-right: 30px;
    background-color: red;
    border-color: red;
    color: rgb(190, 190, 190);
    cursor: pointer;
}

.center button a{
    color: white;
    text-decoration: none;
    transition: 2s;
}

.center button a:hover{
    color: rgb(190, 190, 190);
}

.courses{
  background-color: rgb(255, 255, 255);
  color: black;
}
      
.courses a{
  color: #000;
  transition: 0.5s;
}


@media only screen and (max-width: 480px) {
    .cards{
        flex-direction: column;
        align-items: center;
    }
    .card{
      width: 40%;
      margin-top: 5%;
    }
}

.card{
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.24);
  transition: 0.3s;
  width: 25%;
  background-color: #7800da;
  text-align: center;
  margin-left: 20px;
  border-radius: 20%;
  font-family: "Anaheim", sans-serif;
  height: 30%;
}

.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card_body{
  padding: 5px 15px;
  background-color: #ffffffb2;
  border-radius: 20%;
}

.card_img{
  padding: 10px;
}

.shop{
  background-color: #42424288;
  margin-left: 15%;
  margin-right: 15%;
  padding: 15px;
  border-radius: 20%;
  transition: 1.2s;
}

.shop a{
  color: white;
  text-decoration: none;
  font-size: 25px;
  padding: 20px;
}

.cards{
  display: flex;
  align-self:self-start;
  padding-top: 50px;
  justify-content: center;
}
.shop:hover{
  background-color: #7800da;
  border-radius: 30%;
}

input[type=text], input[type=mail], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #cccccc6e;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit]{
  background-color: #7800da;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact{
  border-radius: 5px;
  background-color: #f2f2f288;
  padding: 20px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.cours_info{
  display: flex;
  justify-content: space-around;
  word-wrap: break-word;
}

.cours_info p, tbody{
  text-align: left;
  font-size: 20px;
}

.cours_info h1{
  font-size: 40px;
}

.cleft{
  float: left;
  width: 30%;
  font-size: 10px;
}

.cleft li{
  font-size: 20px;
}

.cright{
  float: right;
  width: 30%;
}

.cdown{
  text-align: center;
  font-size: 15px;
}

.cdown a{
  color: #ffffffa1;
  background-color: #7800da;
  padding: 15px;
  text-decoration: none;
  transition: 1.2s;
  border-radius: 60px;
}

.cdown a:hover{
  color: #ffffff;
  border-radius: 30px;
}

.about * {
  color: black;
}

.about a{
  color: black;
}

.active a{
  color: #7800da;
  text-decoration: underline;
}

.titlecours{
  text-align: center;
  font-size: 65px;
  margin: 0;
  margin-bottom: 3%;
}

.cright tr>td{
  padding-bottom: 20px;
}

.ab_des{
  margin-left: 25%;
  margin-right: 25%;
  font-size: 19px;
}

.ab_content{
  display: flex;
  align-items: center;
  width: 40%;
}

.acontent1{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.acontent2{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ab_team{
  margin-top: 5%;
}

.ab_team h1{
  text-align: center;
  margin-bottom: 0;
}

.post{
  text-align: center;
  font-size: 20px;
  margin-top: 0;
}

.price{
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
}

.ab_d{
  margin: auto;
}
